.navbar-content a {
  font-weight: bold;
}

.nav-item:hover {
  background-color: #A9D46F;
  border-radius: 3px;
  transition: 0.8s;
}

span {
  margin-right: 5px;
  font-size: 28px;
  font-weight: 600;
  border-bottom: 3px solid #A9D46F;
}



