<div class="container-fluid pt-xxl-5">
  <div class="row">
    <div class="col-md-6 p-0 m-0 pt-4">
      <img class="rounded-5 shadow opacity-75" src="../../../assets/imgs/bg-img.jpg" alt="Image" style="width: 750px;"></div>
    <div class="home col-md-6 pt-xxl-5">
      <h1>Seja Bem Vindo(a)</h1>
      <div class="d-flex justify-content-center pt-4">
        <p>Siga para a página clientes</p>
        <a routerLink="/clientes/lista"><i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
