<h1 class="display-6 pt-3 text-center">Clientes</h1>
<hr class="pb-3">
<div class="container">
  <a class="btn btn-dark tn-sm" routerLink="/clientes/cadastrar"><i class="bi bi-plus-lg"></i></a>

  <table class="table table-bordered table-striped my-3">
    <thead>
      <tr>
        <th scope="col">CPF</th>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th scope="col">Rua</th>
        <th scope="col">Numero</th>
        <th scope="col">Cep</th>
        <th scope="col">Rendimento Mensal</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.cpf }}</td>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.telefone }}</td>
        <td>{{ cliente.rua }}</td>
        <td>{{ cliente.numero }}</td>
        <td>{{ cliente.cep }}</td>
        <td>{{ cliente.rendimentoMensal }}</td>
        <td>
          <button type="button" class="btn btn-warning btn-sm" title="Editar"
            routerLink="/clientes/editar/{{cliente.cpf}}"><i class="fa-solid fa-pen-to-square"></i>Editar</button>
          <button type="button" class="btn btn-danger btn-sm ms-1" title="Excluir"
            routerLink="/clientes/delete/{{ cliente.cpf }}"><i class="fa-solid fa-trash-can"></i>Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
