<h1 class="display-6">{{ cpfCliente !== 'null' ? 'Editar' : 'Cadastrar' }}</h1>
<hr />

<div class="container-fluid">
  <form [formGroup]="clienteForm" (ngSubmit)="cadastrar()">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label for="titulo" class="form-label">CPF</label>
          <input type="text" [readonly]="cpfCliente !== 'null' ? true : false" class="form-control" id="cpf" formControlName="cpf"/>
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="valorUnitario" class="form-label">Nome</label>
          <input id="valorUnitario" type="number" class="form-control" formControlName="valorUnitario" max="10" min="0" />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="quantidade" class="form-label">Telefone</label>
          <input id="quantidade" type="number" class="form-control" formControlName="quantidade" max="10" min="0" />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="ano" class="form-label">Rendimento Mensal</label>
          <input id="ano" type="text" class="form-control" formControlName="ano" />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="status" class="form-label">Rua</label>
          <input id="status" type="text" class="form-control" formControlName="status" />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="status" class="form-label">Numero</label>
          <input id="status" type="text" class="form-control" formControlName="status" />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="status" class="form-label">CEP</label>
          <input id="status" type="text" class="form-control" formControlName="status" />
        </div>
      </div>
    </div>
    <button type="button" routerLink="/clientes" class="btn btn-dark">Voltar</button>
    <button type="submit" [disabled]="clienteForm.invalid" class="btn btn-dark">Salvar</button>
  </form>
</div>
